@model List<COCOApp.Models.Order>
@{
    Layout = "_LayoutStoreDashBoard";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm mới đơn hàng</title>
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Order" asp-action="ViewList">Danh sách đơn hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới đơn hàng</li>
            </ol>
        </nav>
        <form asp-controller="Order" asp-action="AddOrders" method="post">
            <!-- Top input fields for Khách hàng and Ngày đặt -->
            <div class="col-12 mb-3">
                <div class="bg-light rounded h-100 p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="topSelectCustomer" class="form-label ">Chọn khách hàng</label>
                                <select id="topSelectCustomer" class="form-control select2">
                                    @foreach (var customer in ViewBag.Customers)
                                    {
                                        <option value="@customer.Value">@customer.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="topSelectOrderDate" class="form-label ">Chọn Ngày đặt</label>
                                <input type="date" class="form-control" id="topSelectOrderDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bg-light rounded h-100 p-4">
                <div>
                    <h4 class="mb-4">Thêm mới đơn hàng</h4>
                </div>
                <div id="order-rows">
               
                </div>
                <div class="col">
                    <div class="bg-light rounded h-100 p-4 align-items-center">
                        <button type="button" class="btn btn-secondary" id="add-order-row">Thêm đơn hàng mới</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
    <!-- Content End -->
    @section Scripts {
        <script>
            $(document).ready(function () {
                // Initialize select2 for existing select fields
                $('.select2').select2({
                    placeholder: 'Chọn một trong danh sách',
                    allowClear: true // Optional: Add this if you want a clear button
                });
                var orderIndex = 0; // Start index from 0

                $('#add-order-row').click(function () {
                    var selectedCustomer = $('#topSelectCustomer').val();
                    var selectedCustomerText = $('#topSelectCustomer option:selected').text();
                    var selectedDate = $('#topSelectOrderDate').val();

                    var newOrderRow = `
                                <div class="order-row">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="bg-light rounded h-100 p-4">
                                                <div class="mb-3">
                                                    <div class="form-group">
                                                        <label for="selectCustomer_${orderIndex}" class="form-label required">Chọn khách hàng</label>
                                                        <select id="selectCustomer_${orderIndex}" class="form-control" name="Orders[${orderIndex}].CustomerId" required>
                                                             <option value="${selectedCustomer}" selected>${selectedCustomerText}</option>
                                                            @foreach (var customer in ViewBag.Customers)
                                                            {
                                                                    <option value="@customer.Value">@customer.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="form-group">
                                                        <label asp-for="Orders[${orderIndex}].ProductId" class="form-label required">Chọn mặt hàng</label>
                                                        <select id="selectProduct_${orderIndex}" class="form-control" name="Orders[${orderIndex}].ProductId"required>
                                                            @foreach (var product in ViewBag.Products)
                                                            {
                                                                <option value="@product.Value">@product.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light rounded h-100 p-4">
                                                <div class="mb-3">
                                                    <div class="form-group">
                                                        <label asp-for="Orders[${orderIndex}].Volume" class="form-label required">Số lượng</label>
                                                        <input asp-for="Orders[${orderIndex}].Volume" name="Orders[${orderIndex}].Volume" class="form-control" type="number" />
                                                        <span asp-validation-for="Orders[${orderIndex}].Volume" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="form-group">
                                                        <label asp-for="Orders[${orderIndex}].Date" class="form-label required">Ngày đặt</label>
                                                        <input asp-for="Orders[${orderIndex}].Date" name="Orders[${orderIndex}].Date" class="form-control" type="date" value="${selectedDate}" />
                                                        <span asp-validation-for="Orders[${orderIndex}].Date" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-danger remove-order-row">Xóa</button>
                                    </div>
                                    <hr>
                                </div>`;

                    $('#order-rows').append(newOrderRow);

                    // Initialize select2 for new select fields
                    $('#selectCustomer_' + orderIndex + ', #selectProduct_' + orderIndex).addClass('select2').select2({
                        placeholder: 'Chọn một trong danh sách',
                        allowClear: true // Optional: Add this if you want a clear button
                    });

                    orderIndex++;
                });

                $(document).on('click', '.remove-order-row', function () {
                    if ($('.order-row').length > 1) {
                        $(this).closest('.order-row').remove();
                    }
                });

                $('#topSelectCustomer').change(function () {
                    var selectedCustomer = $(this).val();
                    $('input[name^="Orders"][name$=".CustomerId"]').val(selectedCustomer);
                });

                $('#topSelectOrderDate').change(function () {
                    var selectedDate = $(this).val();
                    $('input[name^="Orders"][name$=".Date"]').val(selectedDate);
                });
            });
        </script>
    }
</body>
</html>
