@model List<COCOApp.Models.Order>
@{
    Layout = "_LayoutStoreDashBoard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <!-- Bootstrap CSS link or include -->
    <!-- Other CSS styles for invoice layout -->
    <style>
        /* CSS for invoice layout */
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Hóa đơn</h1>
                <p><strong>Khách hàng:</strong> @Model[0].Customer.Name</p>
                @*                 <p><strong>Thời gian:</strong> @Model[1].Customer.Name</p> *@
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th scope="col">>Mã đơn hàng </th>
                            <th scope="col">Sản phẩm </th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá</th>
                            <th scope="col"> Ngày đặt </th>
                            <th scope="col">Tổng tiền đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.Product.ProductName</td>
                                <td>@order.Volume</td>
                                <td>@order.OrderProductCost</td>
                                <td>@order.OrderDate</td>
                                <td>@order.OrderTotal VND</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p><strong>Tổng tiền hóa đơn:</strong> @ViewBag.totalCost VND</p>
                <button type="button" onclick="window.print()" class="btn btn-primary">Print Invoice</button>
            </div>
        </div>
    </div>
</body>
</html>
